.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh; /* subimos margen con el color gris de esta seccion */
}

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-ligth, 0.8), rgba($color-primary-dark, 0.8)), url(../img/nat-4.jpg); /* usamos imagen de fondo */
    background-size: cover; /* Escala la imagen para que fix bien */
    background-position: top; /* Si se escala la imagen no lo hace deste top*/ 
    transform: skewY(-7deg); /* ponemos en diagonal el backgrouned */
    margin-top: -10rem; /* Para que no quede el borde blanco subimos el contenido */

    & > *{
        transform: skewY(7deg); /* Hacemos que todos los hijos corrijan el skewY a 0 para no estar en diagonal */
    }
}