@charset "UTF-8";
/* Animacion usando keyframes
Establecemos los porcentajes */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem);
    /* traslado 100 px en el eje x hacia la izq */ }
  80% {
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /* Vuelvo a la posicion inicial */ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem); }
  80% {
    transform: translate(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 16/10 = 0.625 Al usar medidas relativas  es facil cambiar todos los tamaños */ }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  /* Especifica que el alto de linea es 1,7 veces mayor al predefinido*/
  color: #777;
  padding: 30px;
  /* Borde blanco de página */ }

.heading-primary {
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 6rem;
  /* margen para distanciamiento de boton */ }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    /* Acá va el nombre de la keyframe animation */
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 2s ease-out;
    /* animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;*/ }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  /* Para que no ocupe todo el ancho de la linea */
  -webkit-background-clip: text;
  /* Clipea el background en el texto dandole aspecto gradiente */
  color: transparent;
  /* Hacemos el color transparente para qeu se pueda ver el efecto de arriba */
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  /* Convertimos en bloque el link */
  border-radius: 10rem;
  transition: all .2s;
  /* All significa todas las propiedades van a poder ser animadas */
  position: relative;
  /* para el efecto de boton mas grande que usa pos absolute */
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  /* Trasladamos sobre y 3 px hacia arriba */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* Sombra, params : offset x, offset y, blurry, color sombra */ }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    /* Cuadno estamos en el pseudoelemento copia agrandamos su tamaño 1.5 veces */
    opacity: 0; }

.btn:active {
  transform: translateY(1px);
  /* Trasladamos sobre y 1 px hacia abajo */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  /* Sombra, params : offset x, offset y, blurry, color sombra */ }

.btn--white {
  background-color: #FFF;
  color: #777; }
  .btn--white::after {
    background-color: #FFF;
    color: #777; }

.btn::after {
  /* Usamos para poner un boton ficticio detras y hacer el efecto */
  content: "";
  height: 100%;
  /* Este boton ocupa el 100% del tamaño de .btn */
  width: 100%;
  /* Este boton ocupa el 100% del ancho de .btn */
  display: inline-block;
  /* Convertimos en bloque el link */
  border-radius: 10rem;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .4s;
  /* Seteamos el estado incial del boton para la animacion del scale */ }

.btn--animated {
  animation: moveInBottom .5s ease-out;
  animation-fill-mode: backwards;
  /* Esto hace que las prop de keyframes se apliquen antes de la visualiz del btn */ }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px; }

.btn-text:hover {
  background-color: #55c57a;
  color: #FFF;
  box-shadow: 0 1rem 2rem #000, 0.15;
  /* Le ponemos sombra */
  transform: translate(-2px);
  /* Trasladamos hacia abajo 2 px */ }

.btn-text:active {
  box-shadow: 0 1rem 2rem #000, 0.15;
  /* Le ponemos sombra */
  transform: translate(-2px);
  /* Trasladamos hacia abajo 2 px */ }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    outline-offset: 1.5rem;
    /* Esto añade un espacio entre el borde real de la imagen y el borde */
    /* Posicionamos imagenes */ }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      /* Esto colorea el borde de la imagen */
      transform: scale(1.05);
      /* Escala un 5 % del tamaño normal */
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    display: inline-block;
    /* Para que no ocupe todo el ancho de la linea */
    -webkit-background-clip: text;
    /* Clipea el background en el texto dandole aspecto gradiente */
    color: transparent;
    /* Hacemos el color transparente para qeu se pueda ver el efecto de arriba */ }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.header {
  height: 95vh;
  /* Significa el 95% del viewport */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  /* usamos imagen de fondo */
  background-size: cover;
  /* Escala la imagen para que fix bien */
  background-position: top;
  /* Si se escala la imagen no lo hace deste top*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* Le damos forma poligono al header */
  position: relative; }
  .header__logo-box {
    position: absolute;
    left: 4rem;
    top: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Co esto trasladamos el div sobre si mismo un -50% a la izq y -50% hacia top */
    text-align: center;
    /* centramos el boton */ }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  /* subimos margen con el color gris de esta seccion */ }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  /* usamos imagen de fondo */
  background-size: cover;
  /* Escala la imagen para que fix bien */
  background-position: top;
  /* Si se escala la imagen no lo hace deste top*/
  transform: skewY(-7deg);
  /* ponemos en diagonal el backgrouned */
  margin-top: -10rem;
  /* Para que no quede el borde blanco subimos el contenido */ }
  .section-features > * {
    transform: skewY(7deg);
    /* Hacemos que todos los hijos corrijan el skewY a 0 para no estar en diagonal */ }
