*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing: inherit;    
}

html{
    font-size: 62.5%;   /* 16/10 = 0.625 Al usar medidas relativas  es facil cambiar todos los tamaños */  
}

body{
    box-sizing: border-box;
}
